body{
    background-size: cover;
    background-color: cadetblue;
    overflow: hidden;   
}


#playArea {
    background-color: black;
    position: relative;
    max-width: 500px;
    height: 550px;
    margin: auto;
    overflow: hidden;
}

.rocketImg {
    max-width: 20%;
    position: absolute;
    margin: auto;
    background: url("images/image_rocket.png");
    left: 50%;
    bottom: 5px;
}
 
.start {
    max-width: 500px;
    position: absolute;
    margin: auto;
}

.asteroid {
    position: absolute;
    left: 5px;
    width: 60px;
    height: 60px;
    background: url("images/asteroid.png");
    background-size: contain;
    background-repeat: no-repeat;
}
